Click
Flask
googleapis-common-protos
httplib2
itsdangerous
Jinja2
jws
MarkupSafe
oauth2client
protobuf
pyrebase4
pyasn1
pyasn1-modules
python-dotenv
python-jwt
requests
requests-toolbelt
rsa
six
Werkzeug
flask-turnstile
wtforms
flask_socketio
