{% extends "base.html" %}
{% block head %}404 NOT FOUND - MindStory {% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div style = "display: flex; justify-content: center;">
        <!-- <h1>404 Error</h1> -->
        <img alt = '404' title = '404' style = "margin:50 0 20 0" src = 'https://api.memegen.link/images/custom/404/oof.jpg?alt=https://avatars.githubusercontent.com/u/8783431?v=4&width=500'>
        
    </div>
    <div class="col text-center">
    <a class="btn btn-primary text-center" href="/home" role="button">Back Home</a>
</div>
</body>
</html>
{% endblock %}